.contact {
    > div {
        @media screen and (max-width: 768px) {
            margin: 1.5rem 0    !important;
            padding: 0 1.75rem   !important;
            &:nth-child(even) {
                border-top: 1px solid $grey-80;
                border-bottom: 1px solid $grey-80;
                background-color: rgba($grey-90, .25);
            }
        }
    }
    &.contact__response {
        min-height: 30rem;
        display: flex;
        flex-basis: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .response__heading {
            font-size: 2.15rem;
            font-weight: 300;
            text-align: center;
        }
    }
    a {
        color: $text-primary;
        text-decoration: none;
        transition: $transition-350;
        &:hover {
            text-decoration: none;
            color: rgba($text-primary, .75);
        }
    }
    .contactInfo {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
        margin: 1.5rem 0 .5rem;
        font-size: 1.35rem;
        font-weight: 600;
        span {
            margin: .5rem 0;
        }
        svg {
            width: 1.5rem;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 .45rem 0 0;
        }
    }
    iframe {
        width: 100%;
        min-height: 25rem;
        box-shadow: $box-shadow__static;
        transition: $transition-500;
        &:hover {
            box-shadow: $box-shadow__hover;
            transition: $transition-250;
        }
        @media only screen and (max-width: 768px) {
            margin-top: 2rem;
        }
    }
}

.cardContact {
    min-height: 10rem;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    margin: 1.5rem 0 .5rem;
    font-size: 1.35rem;
    font-weight: 600;
    span {
        margin: .5rem 0;
    }
    svg {
        width: 1.5rem;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 .45rem 0 0;
    }
}

address {
    margin: 0 0 1.5rem;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.35rem;
    font-weight: 300;
    font-style: normal;
}
