* {
    box-sizing: border-box;
}

.text {
    &.left {
        text-align: left;
    }
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }
}

a.link {
    display: inline-block;
    text-decoration: none;
    border: none;
    font-weight: 600;
    transition: $transition-500;
    &:link {
        color: darken($blue, 10%);
    }
    &:hover {
        text-decoration: none;
        border: none;
        color: lighten($text-primary, 5%);
        transition: $transition-250;
    }
    &:visited {
        color: lighten($red, 5%);
    }
    &:active {
        color: lighten($text-primary, 5%);
    }
}

.btn {
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .75rem 1.75rem;
    font-size: .95rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: $box-shadow__static;
    border: 0.0625rem solid $grey-30;
    border-radius: $border-radius;
    background: $grey-30;
    color: $white;
    text-shadow: 0px 1px 2px rgba($grey-10, .3);
    transform: translateY(0);
    transition: $transition-350;
    &.btn__sm {
        padding: .5rem .75rem;
        font-size: .9rem;
    }
    &.btn__sq {
        padding: .5rem;
        width: fit-content;
    }
    &:first-child {
        margin: 0 .5rem .5rem 0;
    }
    &:not(:first-child) {
        margin: 0 .5rem .5rem;
    }
    &:last-child {
        margin: 0 0 .5rem 0;
    }
    &:only-child {
        margin: 0;
    }
    &:hover {
        transform: translateY(-1px);
        box-shadow: $box-shadow__hover;
        cursor: pointer;
        transition: $transition-150;
    }
    &:focus, &:active, &:visited {
        outline: none;
    }
    &__primary {
        background: $info;
        border: 0.0625rem solid rgba($info, .15);
        &:hover {
            color: $white;
            background: darken($info, 5%);
            border: 0.0625rem solid rgba($info, .25);
        }
    }
    &__success {
        background: $success;
        border: 0.0625rem solid rgba($success, .15);
        &:hover {
            color: $white;
            background: darken($success, 5%);
            border: 0.0625rem solid rgba($success, .25);
        }
    }
    &__danger {
        background: $danger;
        border: 0.0625rem solid rgba($danger, .15);
        &:hover {
            color: $white;
            background: darken($danger, 5%);
            border: 0.0625rem solid rgba($danger, .25);
        }
    }
    &__critical {
        background: $critical;
        border: 0.0625rem solid rgba($critical, .15);
        &:hover {
            color: $white;
            background: darken($critical, 5%);
            border: 0.0625rem solid rgba($critical, .25);
        }
    }
}


.d-flex {
    display: flex;
    flex-basis: auto;
    &.flex-row {
        flex-direction: row;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
    &.flex-no-wrap {
        flex-wrap: nowrap;
    }
    &.justify-content-center {
        justify-content: center;
    }
    &.justify-content-around {
        justify-content: space-around;
    }
    &.justify-content-between {
        justify-content: space-between;
    }
    &.justify-content-start {
        justify-content: flex-start;
    }
    &.justify-content-end {
        justify-content: flex-end;
    }
    &.justify-content-evenly {
        justify-content: space-evenly;
    }
    &.align-items-start {
        align-items: flex-start;
    }
    &.align-items-end {
        align-items: flex-end;
    }
    &.align-items-center {
        align-items: center;
    }
    &.align-items-stretch {
        align-items: stretch;
    }
    &.align-items-baseline {
        align-items: baseline;
    }
    // Only for children of d-flex
    .align-self-start {
        align-self: flex-start;
    }
    .align-self-end {
        align-self: flex-end;
    }
    .align-self-center {
        align-self: center;
    }
    .align-self-stretch {
        align-self: stretch;
    }
    .align-self-baseline {
        align-self: baseline;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.ml-2 {
    margin-left: .5rem;
}

.mr-2 {
    margin-right: .5rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.overflowHidden {
    overflow: hidden;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
    transition: $transition-350;
}


.checker-red {
    border: 1px solid red;
}

.checker-green {
    border: 1px solid lime;
}

.checker-blue {
    border: 1px solid blue;
}

.fa {
    transition: $transition-350;
}

.text-uppercase {
    text-transform: uppercase;
}

.w-100 {
    width: 100%;
}

hr {
    width: 100%;
    height: 1px;
    margin: 1.5rem auto;
    border: 1px solid $grey-90;
}
