// Transition
$transition-150: 150ms ease-in-out;
$transition-250: 250ms ease-in-out;
$transition-350: 350ms ease-in-out;
$transition-500: 500ms ease-in-out;
$transition-750: 750ms ease-in-out;
$transition-1000: 1000ms ease-in-out;


$border-radius: .5rem;

$drop-shadow__none: drop-shadow(0px 0px 0px rgba($default-background, 0));

$drop-shadow__static: drop-shadow(0px 4px 6px rgba($default-background, .35));

$drop-shadow__hover: drop-shadow(0px 8px 16px rgba($default-background, .35));

$box-shadow__none: 0px 0px 0px 0px rgba($grey-10, 0);
$box-shadow__static: 0px 2px 4px 0px rgba($grey-10, .1);
$box-shadow__hover: 0px 12px 24px 2px rgba($grey-10, .2);
$box-shadow__focus: 0px 0px 2px 1px rgba($grey-10, .15);
